aiocache
aiocqhttp
aiohttp
anyio==3.6.2
APScheduler==3.9.1
fastapi==0.92.0
asyncio==3.4.3
httpx==0.23.3
nb-cli==1.1.2
nonebot-plugin-apscheduler==0.2.0
nonebot-plugin-code==0.0.4
nonebot-plugin-hitokoto==0.2.0
nonebot-plugin-moegoe==0.7.6
nonebot2==2.0.0rc3
Pillow==9.2.0
playwright
poetry>=1.1.13
requests>=2.30.0
nonebot-adapter-onebot
poetry_core>=1.0.0
nonebot2[fastapi]
